<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
  </div>
</div>

<div class="productDetail">
  <div class="productDetail-left">
    <div class="productDetail-left-bigImage">
      <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd8at53f6wj30by0by76d.jpg" />
    </div>
    <div class="productDetail-left-imageList">
      <div class="productDetail-left-imageList-item">
        <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd8at53f6wj30by0by76d.jpg" />
      </div>
      <div class="productDetail-left-imageList-item">
        <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd8atgi571j30by0byt9t.jpg" />
      </div>
      <div class="productDetail-left-imageList-item">
        <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd8atkt1x5j30by0bywfp.jpg" />
      </div>
      <div class="productDetail-left-imageList-item">
        <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fd8ato8u7nj30by0byq40.jpg" />
      </div>
      <div class="productDetail-left-imageList-item productDetail-left-imageList-lastItem">
        <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fd8b42ustuj30bm0bnjsp.jpg" />
      </div>
    </div>
  </div>
</div>


<div class="productDecription">
  <div class="productDecription-menuList bg-color1">
    <div class="productDecription-menuList-item bg-color2">选项卡1</div>
    <div class="productDecription-menuList-item bg-color3">选项卡2</div>
  </div>
  <div class="productDecription-content">
    <div class="productDecription-content-item bg-color4" style="display: block;">内容1</div>
    <div class="productDecription-content-item bg-color5">内容2</div>
  </div>
</div>

<div class="box">
  <img src="https://ww3.sinaimg.cn/large/006tNbRwly1fd50yqz8o8j30by0by76d.jpg"/>
</div>

<div class="box"></div>
